In [1]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier
from  sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report

In [2]:
df = pd.read_csv('movies_sentiment_data.csv')

In [3]:
df.shape

(19000, 2)

In [4]:
df.head()

                                              review sentiment
0  I first saw Jake Gyllenhaal in Jarhead (2005) ...  positive
1  I enjoyed the movie and the story immensely! I...  positive
2  I had a hard time sitting through this. Every ...  negative
3  It's hard to imagine that anyone could find th...  negative
4  This is one military drama I like a lot! Tom B...  positive

In [5]:
df['Category'] = df['sentiment'].apply(lambda x: 1 if x == "positive" else 0)

In [7]:
df.Category.value_counts()

Category
1    9500
0    9500
Name: count, dtype: int64

In [8]:
df.head()

                                              review sentiment  Category
0  I first saw Jake Gyllenhaal in Jarhead (2005) ...  positive         1
1  I enjoyed the movie and the story immensely! I...  positive         1
2  I had a hard time sitting through this. Every ...  negative         0
3  It's hard to imagine that anyone could find th...  negative         0
4  This is one military drama I like a lot! Tom B...  positive         1

In [9]:
X_train, X_test, y_train, y_test = train_test_split(df.review, df.Category, test_size=0.2)

In [10]:
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('random_forest_classifier', RandomForestClassifier(n_estimators=50, criterion='entropy'))
])

In [11]:
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.85      0.83      0.84      1974
           1       0.82      0.84      0.83      1826

    accuracy                           0.84      3800
   macro avg       0.84      0.84      0.84      3800
weighted avg       0.84      0.84      0.84      3800

In [12]:
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('kneighbors', KNeighborsClassifier(n_neighbors=10, metric='euclidean'))
])
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.65      0.66      0.66      1974
           1       0.63      0.62      0.63      1826

    accuracy                           0.64      3800
   macro avg       0.64      0.64      0.64      3800
weighted avg       0.64      0.64      0.64      3800

In [13]:
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('multinomial_naive_bayes', MultinomialNB())
])
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.83      0.88      0.86      1974
           1       0.86      0.81      0.84      1826

    accuracy                           0.85      3800
   macro avg       0.85      0.85      0.85      3800
weighted avg       0.85      0.85      0.85      3800