In [1]:
import spacy

In [25]:
nlp = spacy.load("en_core_web_sm")

In [26]:
text = '''Ravi and Raju are the best friends from school days.They wanted to go for a world tour and 
visit famous cities like Paris, London, Dubai, Rome etc and also they called their another friend Mohan to take part of this world tour.
They started their journey from Hyderabad and spent next 3 months travelling all the wonderful cities in the world and cherish a happy moments!
'''
doc = nlp(text)

In [31]:
for token in doc:
    if token.pos_ == "PROPN":
        print(token.text, "|", token.pos_)

Raju | PROPN
Paris | PROPN
London | PROPN
Dubai | PROPN
Rome | PROPN
Mohan | PROPN
Hyderabad | PROPN

In [28]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [34]:
ruler = nlp.get_pipe("attribute_ruler")

patterns = [[{"TEXT": "Ravi"}]]
attrs = {"POS": "PROPN"}

ruler = nlp.get_pipe("attribute_ruler")
ruler.add(patterns=patterns, attrs=attrs)

In [35]:
text = '''Ravi and Raju are the best friends from school days.They wanted to go for a world tour and 
visit famous cities like Paris, London, Dubai, Rome etc and also they called their another friend Mohan to take part of this world tour.
They started their journey from Hyderabad and spent next 3 months travelling all the wonderful cities in the world and cherish a happy moments!
'''
doc = nlp(text)

for token in doc:
    if token.pos_ == "PROPN":
        print(token.text, "|", token.pos_)

Ravi | PROPN
Raju | PROPN
Paris | PROPN
London | PROPN
Dubai | PROPN
Rome | PROPN
Mohan | PROPN
Hyderabad | PROPN

In [36]:
proper_nouns = []
count = 0

for token in doc:
    if token.pos_ == "PROPN":
        proper_nouns.append(token.text)
        count = count + 1

print("Proper Nouns:", proper_nouns)
print("Count: ", count)

Proper Nouns: ['Ravi', 'Raju', 'Paris', 'London', 'Dubai', 'Rome', 'Mohan', 'Hyderabad']
Count:  8

In [40]:
text = '''The Top 5 companies in USA are Tesla, Walmart, Amazon, Microsoft, Google and the top 5 companies in 
India are Infosys, Reliance, HDFC Bank, Hindustan Unilever and Bharti Airtel'''


doc = nlp(text)

In [41]:
company_names = []
count = 0

for ent in doc.ents:
    if ent.label_ == "ORG":
        company_names.append(ent.text)
        count = count + 1

In [42]:
print("Companys:", company_names)
print("Count: ", count)

Companys: ['Tesla', 'Walmart', 'Amazon', 'Microsoft', 'Google', 'Infosys', 'Reliance', 'HDFC Bank', 'Hindustan Unilever', 'Bharti']
Count:  10